.populares {
    margin: 3rem 0;
}

.populares__cabecalho {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.populares__titulo {
    font-weight: 500;
}

.populares__botao {
    background: transparent;
    border: none;
    color: #333333;
}

.populares__icone {
    margin-right: .25rem;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: card-conteudo;
    padding: 1rem 0;
    justify-content: space-between;
}

.populares__card {
    display: grid;
    grid-template-columns: 100%;
    background: #fdfdfd;
}

.populares__card___imagem {
    grid-area: 1/1/2/2;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: 2/1/3/2;
    row-gap: 1rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template: 50px auto / 100%;
    padding: .75rem;
}

.populares__card___titulo {
    font-size: 1.5rem;
    color: #333333;
}

.populares__card___data {
    color: #808080;
    font: .9rem;
}

.populares__card___descricao {
    color: #333333;
    text-align: justify;
    line-height: 1.5;
    margin: 1rem 0;
}