@media screen and (min-width: 0) {
    /* DESTAQUES */

    .destaques__principal, .destaques__categorias {
        grid-column: 1/5;
    }

    .destaques__secundario:nth-child(2), .destaques__secundario:nth-child(3), .destaques__secundario:nth-child(4), .destaques__secundario:nth-child(5){
        display: none;
        grid-column: none;
        grid-row: none;
    }


    /* POPULARES */

    .populares__conteudo {
        flex-direction: column;
    }

    .populares__card {
        grid-template-rows: 150px auto;
        width: 100%;
        margin-bottom: 3rem;
    }

}

@media screen and (min-width: 768px) {
    /* DESTAQUES */

    .destaques__principal {
        grid-column: 1/4;
    }

    .destaques__secundario:nth-child(2), .destaques__secundario:nth-child(3), .destaques__secundario:nth-child(4), .destaques__secundario:nth-child(5){
        display: flex;
    }

    .destaques__secundario:nth-child(2) {
        grid-area: 1/4/2/5;
    }
    .destaques__secundario:nth-child(3) {
        grid-area: 2/4/3/5;
    }
    .destaques__secundario:nth-child(4) {
        grid-area: 3/4/4/5;
    }
    .destaques__secundario:nth-child(5) {
        grid-area: 3/3/4/4;
    }

    .destaques__categorias {
        grid-column: 1 / 3;
    }

    /* POPULARES */

    .populares__conteudo {
        flex-direction: row;
    }

    .populares__card {
        width: calc(50% - 1rem);
        grid-template-rows: 173px auto;
    }
}

@media screen and (min-width: 992px) {
    /* DESTAQUES */

    /* POPULARES */

    .populares__card {
        width: calc(33.3% - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    /* DESTAQUES */

    /* POPULARES */

    .populares__card {
        width: calc(20% - 1rem);
        margin-bottom: 0;
    }
}